.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
}

.form-element {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.form-element input {
  height: 50px;
  width: 350px;
  border: 1px solid lightgrey;
  border-radius: 25px;
  text-indent: 20px;
}

.auth-form button {
  height: 55px;
  width: 350px;
  border: none;
  border-radius: 25px;
  background-color: #5138ed;
  color: white;
}

.form-container button {
  height: 55px;
  width: 350px;
  border: none;
  border-radius: 25px;
  background-color: #5138ed;
  color: white;
}

.form-container {
  margin-top: 60px;
  margin-left: 60px;
  justify-content: space-between;
  height: 100%;
  align-items: flex-start;
}

#right-side-form {
  width: 50%;
  height: 100%;
  padding: 30px;
  background-color: #5138ed;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  background-image: url("../images/login-bg.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}

#line {
  width: 50%;
}

#confirm-container {
  width: 100%;
  align-self: start;
  margin-top: 60px;
}

#cloud-image {
  width: 70%;
  height: auto;
  top: 30%;
}

@media only screen and (max-width: 930px) {
  #right-side-form {
    display: none;
  }
  .form-container {
    justify-content: center;
    align-items: flex-start;
  }
}
