.file-item {
  background-color: white;
  height: 180px;
  width: 100%;
  border-radius: 30px 30px 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  justify-content: space-between;
}

.folder-item {
  background-color: white;
  height: 250px;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  justify-content: space-between;
}
.file-item-container {
  background-color: lightgray;
  border-radius: 30px;
  height: 250px;
  width: 220px;
}

.folder-container {
  border-radius: 30px;
  height: 250px;
  width: 220px;
  background-color: white;
}

.folder-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.file-item-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.file-name {
  font-weight: 600;
  text-align: left;
}

.file-subtext {
  font-weight: 200;
}

.tooltip-wrapper {
  width: 0;
  position: absolute;
  top: 0;
  left: 270px;
}

.container-with-tooltip {
  position: relative;
}

.tooltip-tip {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  border-radius: 4px;
  transform: translateX(-50%);
  padding: 6px;
  color: white;
  background: #0a0a0a;
  font-size: 14px;
  line-height: 1;
  z-index: 100;
  white-space: nowrap;
  top: 47px;
  left: -5px;
  width: 150px;
  padding: 10px;
  margin: 0;
}

.tooltip-option {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
  font-weight: 500;
  padding-left: 10px;
}

.tooltip-option a {
  color: white;
  text-decoration: none;
}

.tooltip-option:hover {
  background-color: #242425;
  border-bottom: 4px;
  cursor: pointer;
}
