#main-nav {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #5138ed;
  position: fixed;
  top: 0;
  background-color: white;
}

#main-nav a {
  color: black;
  text-decoration: none;
  margin: 80px;
}

#right-nav {
  display: flex;
  align-items: center;
  background-color: transparent;
  height: 50px;
}

#right-nav a {
  margin: 20px;
}

#main-nav button {
  background-color: #5138ed;
  color: white;
  border: none;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
}
#main-nav a {
  color: black;
}
#logo-left {
  color: white;
}

#logo-left-main {
  color: black;
}

#logo-right {
  color: #5138ed;
}
