#side-nav {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  max-width: 400px;
  min-width: 400px;
  align-items: flex-start;
  padding-left: 20px;
  background-color: #0a0a0a;
  justify-content: space-between;
  color: white;
}

#side-nav h1 {
  font-size: 2em;
  background-color: transparent;
}

#side-nav-bottom,
#side-nav-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

#side-nav-center {
  height: 69%;
}

.side-nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  height: 60px;
  width: 90%;
  padding-left: 25px;
  border-radius: 20px;
}

.side-nav-item i {
  size: 40px;
}

.active-link {
  background-color: #583da1;
}

.side-nav-item:hover {
  background-color: #242425;
  cursor: pointer;
}
